<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	
	<title>Document</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	
	<!-- mobile theme colors -->
	<meta name="theme-color" content="#132186" />
	<meta name="msapplication-navbutton-color" content="#132186" />
	<meta name="apple-mobile-web-app-status-bar-style" content="#132186" />
	
	<!-- favicon -->
	<link rel="icon" type="shortcut icon" href="/img/favicon.ico" />
	<link rel="apple-touch-icon" href="/img/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0" />
	
	<style>
		@@include('../css/generated/urgent.css')
	</style>
	
	<script src="js/js.js?ver=0.0.0" async></script>
</head>
<body>
